.keyboard {
  margin: 1.25rem;
  display: grid;
  grid-template-columns: repeat(4, 3rem);
  grid-template-rows: repeat(5, 3rem);
  gap: 1rem;
}

.keyboard button {
  width: 3rem;
  height: 3rem;

  background-color: #0f0f0f;
  color: #a7a7a7;

  border: 0.06rem #353535 solid;
  border-radius: 50%;
  font-family: Helvetica, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
}

.keyboard button:hover {
  border-color: #585858;
  font-size: 1.05rem;
  cursor: pointer;
}

.keyboard button:active {
  background-color: #3f3f3f;
}

#clear {
  color: #a11c1c
}

.keyboard .operation {
  color: #0e8d02
}

#equal {
  background-color: #0e8d02;
  border-color: #0e8d02;

  font-size: 1.5rem;
}

#equal:hover {
  border-color: #1a910f;
  font-size: 1.25rem;
}

#equal:active {
  background-color: #20af13;
  border-color: #20af13;
}
