.calculator {
  height: 30rem;
  width: 20rem;

  border: 2px #a7a7a7 solid;
  border-radius: 10px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.prompt input {
  width: 15rem;
  height: 5rem;
  background-color: #000;
  border-radius: 10px;
  padding: 0.8rem;
  color: #a7a7a7;
  text-align: end;
  font-size: 2rem;
  caret-color: #0000;
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: textfield;
}

.prompt input:focus {
  box-shadow: none;
  outline: 0;
  background-color: #0f0f0f;
}

.keyboard {
  margin: 1.25rem;
  display: grid;
  grid-template-columns: repeat(4, 3rem);
  grid-template-rows: repeat(5, 3rem);
  gap: 1rem;
}

.keyboard button {
  width: 3rem;
  height: 3rem;

  background-color: #0f0f0f;
  color: #a7a7a7;

  border: 0.06rem #353535 solid;
  border-radius: 50%;
  font-family: Helvetica, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;

  padding-top: 0.4rem;
}

.keyboard button:hover {
  border-color: #585858;
  font-size: 1.05rem;
}

.keyboard button:active {
  background-color: #3f3f3f;
}

#clear {
  color: #a11c1c
}

.keyboard .operation {
  color: #0e8d02
}

#equal {
  background-color: #0e8d02;
  border-color: #0e8d02;

  font-size: 1.5rem;
}

#equal:hover {
  border-color: #1a910f;
  font-size: 1.25rem;
}

#equal:active {
  background-color: #20af13;
  border-color: #20af13;
}
